.Row {
  color: #fff;
  counter-reset: trending-counter;
}

.Row__loading {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2rem 0;
}

.Row__posters::-webkit-scrollbar {
  display: none;
}

.Row__poster {
  height: 10rem;
  margin-right: 1rem;
  transition: all 450ms;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
  padding: 1rem;
  overflow: hidden;
  opacity: 1;
  position: relative;
}

.Row__poster__movieInfo {
  z-index: 5;
  margin-top: 120%;
  transition: all 600ms ease-in-out;
  position: absolute;
  width: 90%;
}

.Row__poster__movieInfo .overview {
  font-size: 1rem;
  margin-top: 2.4rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.Row__poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.Row__poster:hover > .Row__poster__movieInfo {
  margin-top: 60%;
}

.Row__poster:hover > .Row__poster__movieInfo .overview,
.Row__poster:hover > .Row__poster__movieInfo .Row__rating {
  opacity: 1;
}

.Row__poster h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

.Row__poster h4 span {
  font-size: 1rem;
  opacity: 0.8;
}

.Row__poster__trending {
  height: 24rem;
  position: relative;
  margin-left: 14rem;
  box-shadow: -10px 0px 20px -2px rgba(17, 17, 17, 0.4);
  overflow: visible;
}

.Row__poster__trending:before {
  counter-increment: trending-counter;
  content: counter(trending-counter);
  font-size: 24rem;
  font-weight: 700;
  position: absolute;
  top: -16%;
  z-index: -1;
  left: -11rem;
  -webkit-text-stroke: 3px #fff;
  color: #111;
  opacity: 0.5;
}

.Row__poster__trending:last-child:before {
  font-weight: 18rem;
}

.Row__poster_large {
  height: 24rem;
  position: relative;
}

.Row__poster_large:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.6);
  z-index: 0;
  opacity: 0;
  transition: all 450ms ease-in-out;
}

.Row__poster_large:hover {
  transform: scale(1.09);
  opacity: 1;
}

.Row__poster_large:hover::before {
  opacity: 1;
}

.Row h2 {
  padding-left: 2rem;
}

.Row__rating {
  height: 1rem;
  opacity: 0;
  transition: all 450ms ease-in-out;
}

.Row__star {
  background: url(../../images/star.png) no-repeat center center/cover;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
}

.Row__star.full {
  background: url(../../images/star_full.png) no-repeat center center/cover;
  margin-left: 0.4rem;
}

.Row__vote {
  font-size: 1rem;
}

.Row__vote span {
  margin-left: 0.4rem;
}

@media (max-width: 576px) {
  .Row__poster {
    height: 6rem;
  }
  .Row__poster_large {
    height: 14rem;
  }
}
