.SeasonsScreen {
  color: #fff;
}

.SeasonsScreen__row {
  margin: 2rem;
  padding-top: 2rem;
  border-top: solid 0.1rem rgba(255, 255, 255, 0.5);
}

.SeasonsScreen__img {
  width: 100%;
}

.SeasonsScreen__overview {
  font-size: 1.2rem;
  font-weight: 200;
}
