@import '../../../stylesheets/variables';

.SeasonsScreen {
  color: $white;

  &__red {
    background: linear-gradient(-45deg, rgba($red, 0.7), $red);
    color: $white;
    padding: 2rem 0;
    margin-top: -12rem;
    z-index: 5;
    position: absolute;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__season {
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__row {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    border-bottom: solid 0.1rem rgba($red, 0.5);

    &:first-child {
      padding-top: 2rem;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

    &:before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 3rem;
      left: 50%;
      margin-left: -2rem;
      top: 50%;
      margin-top: -2rem;
      background: url(../../../images/play_white.svg) no-repeat center center /
        contain;
      z-index: 999;
      display: block;
      border: solid 0.2rem $white;
      padding: 2rem;
      border-radius: 3rem;
      background-size: 2rem;
      box-shadow: 0 0 1rem 0 rgba($white, 0.8);
    }
  }

  &__overview {
    font-size: 1.2rem;
    font-weight: 200;
  }

  &__epiCount {
    font-size: 1.6rem;
  }

  &__vote {
    font-size: 3rem;
    font-weight: 700;
  }

  &__rate {
    position: relative;
    border-bottom: solid 0.1rem $white;
    width: 50%;

    small {
      position: absolute;
      border-radius: 1rem;
      bottom: -2.4rem;
      left: 0;
    }

    &:after {
        content: '';
        width: 3.2rem;
        height: 3.2rem;
        background: url(../../../images/download.svg) no-repeat center center / contain;
        display: block;
        position: absolute;
        right: -6rem;
        top: 1.7rem;
    }
  }
}
